/* Buttons */

.postbuttons :hover {
    opacity: 0.8;
}

.postbuttons button {
    padding: 15px 32px;
    margin: 4px 2px;
    text-align: center;
    
    cursor: pointer;
    border: none;
    text-decoration: none;
    
    font-size: 0.9em;
    background-color: #4CAF50;
    color: white; 
}



/* Social-share buttons */

.social-buttons-item, .social-buttons-link  {
    
    /* layout */
    height: 40px;
    min-width: 82px;
    width: 100px;
    /* Styles */
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    
}

.social-buttons-item {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    margin: 9px 9px 9px 0;
}
.social-buttons-item img {
    height: 24px;
}

.social-buttons-item:hover {
    opacity: 0.6;
}

.share-facebook {
    background-color: #3e68c0;
}
.share-linkedin {
    background-color: #0077b5;
}
.share-twitter {
    background-color: #55acee;
}
.share-email {
    /* background-color: #cb1f26; */
    background-color: #D44638;
}

/*  */