@import "grid.css";
@import "grid-blogpost.css";
@import "grid-homepage.css";
@import "custom.css";
@import "components.css";

/* Styles of base elements  */
body {
    font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.428571429;
	width: 100%;
	background: #fff;
}

h1, h2 {
    font-family: "Helvetica Neue", sans-serif;;
    font-weight: 500;
}
h1 {
    font-size: 2.6em;
    /* font-weight: 400; */
}
h2 {
    font-size: 2em;
}
a {
    text-decoration: none;
    color: #0F0F0F
}
a:hover {
    opacity: 0.85;
} 

button {
    font-size: 1em;
}
#nav__list li {
    list-style: none;
    padding: 15px;
}
figcaption {
    font-style: italic;
    text-align: center;
}
blockquote {
    padding: 25px;
    background-color: #f4f8fb;
    border: 2px solid gainsboro;
}
mark {
    background-color: #55abee;
}
q {
    background-color: #dcf0ff;
}

.header a:hover {
    color: #4c658e;
}

/* Layout */




